<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 목록</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<!--<tr class="text-center" th:each="post : ${postList}">-->
<!--  <th scope="row">-->
<!--    <span th:text="${post.id}"></span>-->
<!--  </th>-->
<!--  <td>-->
<!--    <a th:href="@{'/post/' + ${post.id}}">-->
<!--      <span th:text="${post.title}"></span>-->
<!--    </a>-->
<!--  </td>-->
<!--  <td>-->
<!--    <span th:text="${post.author}"></span>-->
<!--  </td>-->
<!--  <td>-->
<!--    <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--  </td>-->
<!--</tr>-->
<h1>${post}</h1>
</body>
</html>